extends html

# It's just a pain in the ass to write out 
snippet ifelse "If else if blocks"
{{#$1}}
{{/$1}}
{{^$1}}
{{/$1}}
endsnippet

snippet ifn "If not"
{{^$1}}
{{/$1}}
endsnippet

snippet if "If and for loop (for lists)"
{{#$1}}
{{/$1}}
endsnippet
