configuration{
    modi: "drun,run,filebrowser";
    icon-theme: "Oranchelo";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 󰕰  Window";
    // TODO: Fix
    display-filebrowser: "UwU x3";
    sidebar-mode: false;

}

@theme "catppuccin-latte"
