layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Main development view" {
        pane
        pane split_direction="vertical" {
            pane cwd="build" {
                command "zsh"
                args "-c" "python3 -m pytest"
            }
            pane cwd="build"
        }
    }
}
